body{
	padding: 0;
	margin: 0;
}
.main{
	width: 400px;
	background-image: linear-gradient(300deg, #a1c4fd 0%, #c2e9fb 100%);
	text-align: center;
}
.inl_bl_title{
	display: block;
}
#STT_title{
	color: #362D64;
	font-size: 16px;
	font-weight: bold;
	margin-left: 5px;
}
#version{
	color: #362D64;
	font-size: 10px;
	margin-left: 5px;
}
#ym{
	margin-right: 5px;
	margin-top: 5px;
	float: right;
	border: 1px solid black;
	border-radius: 2px;
	width: 14px;
	height: 14px;
}
#star{
	margin-right: 5px;
	margin-top: 5px;
	float: right;
	border: 1px solid black;
	border-radius: 2px;
	width: 14px;
	height: 14px;
}
.hover_orange:hover{
	-webkit-transition: background 200ms linear;
    -ms-transition: background 200ms linear;
    transition: background 200ms linear;
	background: #FF6800;
}
.hover_orange:active{
	background: #1a00ff;
	
}
#line_panel{
	width: 100%;
	vertical-align: middle;
	display: inline-block;
}
#line_input{
	width: 75%;
	padding: 2px;
	display: inline-block;
	vertical-align: middle;
	text-align: left;
}
.in_field{
	width: 100%;
	height: 18px;
	border: 1px solid grey;
	border-radius: 2px;
	margin: 2px;
}
.ctrl_btn{
	border-radius: 2px;
	border: 1px solid black;
	background: white;
}
.grn_grad{
	background: linear-gradient(to right,#934CE8,#43ADFB);
}
.inl_bl_btn{
	width: 23%;
	padding-top: 2px;
	margin: auto;
	text-align: center;
	display: inline-block;
	vertical-align: middle;
}
.line-sum{
	width:97%;
	border-radius: 3px;
	padding: 3px;
	margin: auto;
	background-image: linear-gradient(300deg, #a1c4fd 0%, #c2e9fb 100%);
	border-bottom: 1px solid #91b4ed;
	border-right: 1px solid #91b4ed;
	border-top: 1px solid #d2f9ff;
	border-left: 1px solid #d2f9ff;
}
.line-adv{
	width:50%;
	border-radius: 2px;
	padding: 3px;
	background: white;
	text-align: center;
	border: 1px solid black;
	margin: 2px;
}
#sum-task{
	width: 30px;
	text-align: center;
	border-radius: 8px;
	border: 0;
	margin-right: 10px;
}
#sum-time{
	width: 64px;
	text-align: center;
	border-radius: 8px;
	border: 0;
}
.notes_div{
	border-radius: 11px;
	border: 4px solid #6D75EF;
	padding: 5px;
	
}
.notes_div>img{
	vertical-align: middle;
}
.line{
	width:97%;
	border-radius: 3px;
	padding: 3px;
	margin: auto;
	background-image: linear-gradient(300deg, #a1c4fd 0%, #c2e9fb 100%);
	border-bottom: 1px solid #80a0d0;
	border-right: 1px solid #90b0e0;
	border-top: 1px solid #dfffff;
	border-left: 1px solid #dfffff;
}
.inl-bl-task{
	display: inline-block;
	width: 58%;
	vertical-align: middle;
}
.inl-bl-timer{
	display: inline-block;
	width: 18%;
	vertical-align: middle;
}
.inl-bl-btn{
	display: inline-block;
	width: 22%;
	vertical-align: middle;
	text-align: center;
}
.field_label_p{
	width: 100%;
	border: 0;
	color: black; 
	border-radius: 2px;
	margin: 2px;
	background: none;

}
.field_label_t{
	width: 100%;
	border: 0;
	color: black; 
	border-radius: 2px;
	margin: 2px;
	background: none;
	font-size: 16px;
	font-weight: bold;

}
.link{
	width: 90%;
	border: 0;
	color: black; 
	border-radius: 2px;
	background: none;
	vertical-align: top;

}
.field_label_tmr{
	width: 70px;
	border: 0px;
	color: black;
	background: none;
	border-radius: 2px;
	text-align: center;
	font-weight: bold;
}
.reset{
	border: 0;
	color: black;
	background: white;
	border-radius: 2px;
	border: 1px solid black;
	text-align: center;
	padding: 0 3px 0 3px;
	text-decoration: none;
}
.ctrl_btn_task{
	width: 24px;
	height: 24px;
	border-radius: 2px;
	border: 1px solid black;
	background: white;
	
}
/* Safari 4.0 - 8.0 */
/*@-webkit-keyframes example {
    0%   {background: linear-gradient(to right,#3B68E6,#47B4FF);}
    25%   {background: linear-gradient(to right,#665bc0,#709fd2);}
    50%   {background: linear-gradient(to right,#934e97,#9e89a2);}
    75%   {background: linear-gradient(to right,#c43e6c,#cd706d);}
    100% {background: linear-gradient(to right,#eb3349,#f45c43);}
}*/
@-webkit-keyframes example {
    0%   {background: #EB9D33;}
    100% {background: #eb3349;}
}
/* Standard syntax */
@keyframes example {
    0%   {background: #EB9D33;}
    100% {background: #eb3349;}
}
.blink{
	animation-name: example;
    animation-duration: 0.7s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
.copy{
	display: inline-block;
	vertical-align: top;
	width: 100%;
	height: 17px;
	margin: 1px;
	padding: 1px;
}
.btn-link{
	border-radius: 2px;
	border: 1px solid black;
	width: 14px;
	height: 14px;
	background: white;
	vertical-align: bottom;
}
.pbbox{
	width: 100%;
	height: 4px;
	vertical-align: top;
	margin-bottom: 3px;
}
.pbbody{
	height: 4px;
	border-radius: 1px;
	border: 1px solid #2f2f2f;
}
.footer{
	padding: 3px;
}

.btn_color{
	width:24px;
	height: 12px;
	border: 1px solid black;
	opacity: 0.25;
}
.btn_color:hover{
	opacity: 1;
}