body{
	padding: 0;
	margin: 0;
	height: auto;
	width: 100mm;
	background-image: linear-gradient(300deg, #a1c4fd 0%, #AFDAFB 100%);
	transition-property: height;
    transition-duration: 0.2s;
    transition-timing-function: ease-in-out;
}
span{
	margin-left: 2.1mm;
}
table, tbody, tr{
	width: 100mm;
}
button{
	background-image: none;
    border-color: transparent;
    font-weight: 685;
    box-sizing: border-box;
    border-radius: 3.4px;
    border-style: solid;
    border-width: 1.3px;
    cursor: pointer;
    font-family: inherit;
    font-size: 14.6px;
    font-variant: normal;
    display: inline-block;
    height: 5.6mm;
    width: 14.6mm;
    line-height: 3.4mm;
    margin: 0;
    padding: 3.4px 5.6px;
    vertical-align: baseline;
    white-space: nowrap;
}
img{
	box-sizing: border-box;
    border-radius: 3.4px;
    border-style: solid;
    border-width: 1.3px;
    border-color: #3C3CC3;
    margin-left: 1.3mm;
    vertical-align: middle;
    width: 23.6px;
    height: 23.6px;
}
img:hover{
	border-color: #ff9e03;
	transition: border-color 0.2s ease-out;
}
#addingPanel{
	position: absolute;
	z-index: 1;
	width: 100%;
	max-height: 0;
  	overflow: hidden;
  	transition: max-height 0.2s ease-out;
}
#editingPanel{
	position: absolute;
	z-index: 1;
	left: -100%;
    right: 100%;
    transition-property: left, right;
    transition-duration: 0.2s;
    transition-timing-function: ease-in-out;
}
#task{
	display: none;
}
.red{
	transition: background-color 0.1s ease-out;
	background-color: #c30907;
	color: #f6f6f6;
}
.red:hover{
	background-color: #610907;
}
.blue{
	transition: background-color 0.1s ease-out;
	background-color: #0161c3;
	color: #f6f6f6;
}
.blue:hover{
	background-color: #0161ff;
}
.b{
	color: #362D64;
	font-size: 14.6px;
	font-weight: bold;
}
.tc{
	text-align: center;
}
.tr{
	text-align: right;
}
.mt{
	margin-top: 1.3mm;
}
.mr{
	margin-right: 1.3mm;
}
.ml{
	margin-left: 1.3mm;
}
.mv{
	margin-top: 1.3mm;
	margin-bottom: 1.3mm;
}
.c{
	display: flex;
	justify-content: center;
	margin-left: auto;
	margin-right: auto;
}
.vc{
	display: flex;
    align-items: center;
}
.led{
	background-color: #fff6e8;
    border-color: #fff6e8;
    color: #c22501;
    background: #3C3C61;
    border: 0 solid #3C3C61;
    border-radius: 3.4px;
    color: #FFFFFF;
    display: inline-block;
    font-size: 9px;
    font-weight: bold;
    line-height: 1;
    margin: 0 3mm;
    padding: 2.1px 5.6px 3.4px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
}
.grey{
	transition: background-color 0.1s ease-out;
	background-color: #616161;
    border-color: transparent;
    color: #f6f6f6;
    font-weight: 423;
}
.grey:hover{
	background-color: #c3c3c3;
}
.bgdark{
	background-image: linear-gradient(300deg, rgba(97, 97, 158, 0.62) 0%, rgba(60, 60, 97, 0.38) 100%);
}
.w-l{
	width: 61.8mm;
}
.w-xl{
	width: 100mm;
}
.w-100p{
	width: 100%;
}
.h-3{
	height: 3.4mm;
}
.clr{
	width: 5.6mm;
    height: 3.4mm;
    border-radius: 3.4px; 
}
.clr-red{
    background: #da3c3c;
    border: 1.3px solid #610e0e;
}
.clr-grn{
    background: #3c9e3c;
    border: 1.3px solid #0e610e;
}
.clr-blu{
    background: rgba(97, 97, 158, 0);
    border: 1.3px solid #0161c3;
}
.task{
	border-bottom: 1.3px solid #0e610e;
}
@keyframes example {
    0%   {background: rgba(235, 157, 51, 0);}
    100% {background: rgba(235, 157, 51, 1);}
}
.blink{
	animation-name: example;
    animation-duration: 1.58s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
